.dipas-gfi-content {
    margin: 12px;
    font-family: "HamburgSans",sans-serif;
}

.dipas-gfi-thema {
    font-family: "HamburgSans",sans-serif;
    font-size: 14px;
    color: #808080;
    text-transform: uppercase;
}

.dipas-gfi-name {
    font-family: "HamburgSans-bold",sans-serif;
    font-size: 18px;
    color: #003063;
    padding-bottom: 16px;
}

.dipas-gfi-description {
    font-family: "HamburgSans",sans-serif;
    font-size: 14px;
    color: #808080;
}
