.poi .modal-header {
    padding: 0;
    border-bottom: 0;
}
.poi .modal-title {
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.poi {
    color: rgb(85, 85, 85);
    font-size: 14px;
}
.poi .glyphicon-remove {
    font-size: 16px;
    float: right;
    padding: 12px;
}
.poi tbody > tr > td:nth-child(odd) {
    width: 50px;
    height: 50px;
}
.poi tbody > tr > td:nth-child(even) {
    vertical-align:middle;
}
.poi tr {
    cursor: pointer;
}
