#overviewmap {
    margin-bottom: 40px;
    margin-top: 30px;
}

.overviewmap-button > .glyphicon {
    cursor: pointer;
    font-size: 22px;
    padding: 5px 7px 6px 5px;
}

.overviewmap-button {
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.ol-overviewmap-map {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.ol-custom-overviewmap.ol-uncollapsible {
    position: relative;
    margin-right: 34px;
    float: right;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
