.sidebar {
    height: calc(100% - 50px);
    width: 30%;
    float: left;
    overflow: auto;
    display: none;
    position: relative;
}

.sidebar-mobile {
    position: fixed;
    display: none;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 40px;
    /*padding-bottom: 10px;*/
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}
