.controls-row-right {
    position: relative;
    margin-right: 12px;
}
.controls-row-left {
    position: relative;
    margin-left: 0px;
}
.controls-view {
    top: 0;
}

.toggleButtonPressed {
    background-color: rgb(8,88,158)!important;
}

.controls-view > div > .row > div > .glyphicon {
    color: #f3f3f3;
    background-color: rgb(182, 0, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.controls-view > div > .row > div > .glyphicon:hover {
    cursor: pointer;
    opacity: 0.7;
}

/***** ToggleButton *****/
.toggleButton > .glyphicon {
    font-size: 24px;
}

.toggleButton > .glyphicon-chevron-up {
    padding: 5px 4px 6px 7px;
}

.toggleButton > .glyphicon-chevron-down {
    padding: 7px 4px 4px 7px;
}

/***** ZoomButtons *****/
.zoomButtons {
    margin-top: 20px;
}

.zoomButtons > .glyphicon {
    font-size: 22px;
    margin-top: 4px;
}

.zoomButtons > .glyphicon-plus {
    padding: 5px 5px 6px 7px;
}

.zoomButtons > .glyphicon-minus {
    padding: 5px 7px 6px 5px;
}

/***** FullScreen *****/
.full-screen-button {
    margin-top: 20px;
}

.full-screen-button > .glyphicon {
    font-size: 22px;
    padding: 7px 6px 6px 7px;
}

@media (max-width: 767px) {
    .full-screen-button {
        display: none;
    }
}

/***** Attributions *****/
.attributions-div {
    padding: 5px;
    background-color: #f3f3f3;
    margin-right: 34px;
    /* float: left; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 20px;
}

.attributions-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
}

.attributions-view dt {
    color: rgb(182, 0, 0);
    font-size: 15px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.attributions-view dl {
    margin-bottom: 0;
    max-width: calc(100vw - 410px);
}

.attributions-view dd {
    margin-bottom: 8px;
}

.attributions-view .glyphicon {
    font-size: 22px;
    top: 0;
}

.attributions-view .glyphicon-info-sign {
    padding: 6px;
}

.attributions-view .glyphicon-forward {
    padding: 6px 4px 6px 8px;
}

@media (max-width: 767px) {
    .attributions-view dl {
        max-width: calc(100vw - 35px);
    }
}

.attributions-view img {
    max-height: 2em;
}

/***** OrientationControl *****/
.orientationButtons {
    margin-top: 20px;
}

.orientationButtons > .glyphicon {
    font-size: 22px;
    margin-top: 4px;
}

.orientationButtons > .glyphicon-map-marker {
    padding: 5px 7px 6px 6px;
}

.orientationButtons > .glyphicon-record {
    padding: 5px 6px 6px 6px;
}
/***** OrientationControl -> geolocation_marker *****/
.geolocation_marker {
    color: #F3F3F3;
    padding: 2px 3px 2px 2px;
    background: none repeat scroll #D42132;
    border-radius: 50px !important;
    font-size: 20px;
}

.control-view-top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.control-view-bottom-right {
    position: absolute;
    right: 3px;
    bottom: 0;
}

.control-view-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}
