.schulinfo {
    position: relative;
}

@media (min-width: 768px) {
    .schulinfo {
        width: 100%;
        height: 40vh;
    }
}

.schulinfo .bold td {
    font-weight: bold;
}
.schulinfo .schulinfo-head {
    padding: 8px 0;
    background-color: rgba(227, 227, 227, 0.5);
}
.schulinfo .btn-group-sm .btn-default {
    margin: 4px;
}
.schulinfo .btn-select {
    color: #fff;
    background-color: rgba(0,0,0,.5);
}
.schulinfo table {
    border-top: 1px solid rgb(229,229,229);
}

/* .schulinfo .route-container {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(229, 229, 229);
} */

.schulinfo .glyphicon {
    font-size: 28px;
    padding: 0 2px;
}

.schulinfo .glyphicon-star {
    color: #fec44f;
}

.schulinfo .glyphicon:hover {
    cursor: pointer;
    opacity: 0.5;
}
