<!DOCTYPE html>
<div class="win-heading header">
    <p class="buttons pull-right">
        <span class="glyphicon glyphicon-minus" title="Minimieren"></span>
        <span class="glyphicon glyphicon-remove" title="Schließen"></span>
    </p>
    <p class="buttons pull-left move">
        <span class="glyphicon <%= icon %> win-icon"></span>
    </p>
    <p class="title move">
        <span><%= title %></span>
    </p>
</div>
